* {
    box-sizing: border-box;
}

.container > div {
    font-size: 5vw;
    padding: .5em;
    background: yellowgreen;
    border: 5px solid black;
}

.container > div:nth-child(odd) {
    width: 10%;
}

.container > div:nth-child(even) {
    width: 20%;
}

.container > div:nth-child(2),
.container > div:nth-child(4),
.container > div:nth-child(9) {
    width: 60%;
}

body {
    margin: 0;
}