{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/mode/{{ mode }}/{{ mode }}.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/addon/search/searchcursor.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/addon/selection/mark-selection.js"></script>

        <link rel="stylesheet" href='{% static "css/web.css" %}'>
    </head>
    <body>
        <form method="POST" action="/" name="form" novalidate> {% csrf_token %}
            <div class="editor">
                <p>Original</p>
                {{form.source_content}}
            </div>
            <div class="bridge">
                <div class="bridge-content">
                    <p><em>Select Language</em></p>
                    {{form.language}}
                    <br/>
                    <br/>
                    <br/>
                    <button type="submit" name="highlight">
                        Highlight comments
                    </button>
                    <br/>
                    <br/>
                    <br/>
                    <button type="submit" name="remove">
                        Remove comments
                    </button>
                </div>
            </div>
        </form>

        <div class="editor">
            <p>Cleaned Code</p>
            {{form.results_content}}
        </div>
    </body>

    <script>
window.onload = function() {
    let source = document.getElementById('id_source_content');
    let results = document.getElementById('id_results_content');
    let mode = "{{mode}}";

    function makeEditor(textField) {
        let editor = CodeMirror.fromTextArea(textField, {
            mode: mode,
            lineNumbers: true,
            lineWrapping: true,
            styleSelectedText: true
        });
        editor.setSize(null, "100%");
        return editor;
    }

    makeEditor(source);
    let resultsEditor = makeEditor(results);

    let cursor, searchTerm;

    {% for each in highlight_content %}
        searchTerm = "{{each | escapejs}}";
        cursor = resultsEditor.getSearchCursor(searchTerm)
        while(cursor.findNext()) {
            resultsEditor.markText(
                cursor.from(), cursor.to(), {className: "styled-background"});
        }
    {% endfor %}

}
    </script>
</html>
